.cart-itmes{
    margin: 30px auto;
    width: 50%;
    background-color:orange;
    border: 2px solid black;
    border-radius: 5px;
}
.cart-itmes-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.empty{
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}
.cart-itmes-image{
    height: auto;
    width: 100px;
    border: 2px solid black;
    margin-right: 10px;
}
.cart-itmes-list{
    display: flex;
    align-items: center;
    font-size: 18px;

}